body {
  background-color: rgb(146, 7, 7);
}
img {
  display: block;
  margin: auto;
  width: 90px;
  height: 80px;
  border-radius: 15px;
}
ul,
li {
  display: flex;
  padding: 15px;
  margin: 0px;
  justify-content: space-around;
  font-family: fantasy;
  font-weight: bold;
  background-color: rgb(238, 26, 238);
  list-style-type: none;
}
a {
  text-decoration: none;
}
